<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="EXPIRES" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="828f18bd6264daf0ab4ec7d951f2a2690096df2a" content="430ffb91b28da6d6b85c89738eef3d1e0953fd30" />
    <title>SocialTripApp</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Template" %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class='container'>
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </main>
    
  </body>
</html>
